*{margin:0;padding:0;font-family: 'Josefin Sans', sans-serif;}
.hide{ display:none;}
.car{width:50px;height:70px;background:transparent;
position: absolute;bottom:120px;
background-image:url('pcar1.png');
background-repeat:no-repeat;
background-size: 100% 100%;
}
.enemy{width:50px;height:70px;background:transparent;
position: absolute;bottom:120px;
/* background-image:url('ecar1.png');*/
background-repeat:no-repeat;
background-size: 100% 100%;
}
.carGame{
    width:100%;
    height:100vh;
    background-image:url('bg4.jpg');
    background-repeat:no-repeat;
    background-size:100% 100%;
}
.gameArea{
  width:400px;height:100vh;
  background:#95a5a6;
  margin:auto;
  position:relative;
  overflow:hidden;
  border-right:7px dashed #c8d6e5;
  border-left:7px dashed #c8d6e5;
}
.lines{
    width:10px;
    height:100px;
    background:white;
    position:absolute;
    margin-left:195px;
}
.score{
    position:absolute;
    top:15px;
    left:40px;
    background:#16a085;
    width:300px; 
    line-height:70px;
   /* height:70px;*/
    text-align:center;
    color:white;
    font-size:1.5em;
    box-shadow:0 5px 5px #777;
}
.startScreen{
    position:absolute;
    background-color:#ee5253;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    color:white;
    z-index:1; /* to prevent it hide in background */
    text-align:center;
    border:1px solid #ff6b6b;
    padding:15px;
    margin:auto;
    cursor:pointer;
    letter-spacing:5;
    font-size:20px;
    word-spacing:3px;
    line-height:30px;
    text-transform:uppercase;
    box-shadow:0 5px 5px #777;
}